html {
  scroll-behavior: smooth;
}

body {
  background: $mainBlack;
}

/* BootStrap Slider **********************************************/
.carousel-indicators {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-indicators li {
  width: 12px;
  /* transition: .5s linear; */
  height: 12px;
  border-radius: 50%;
  margin: 0 10px;
}

.carousel-indicators .active {
  width: 18px;
  height: 18px;
  border-radius: 10px;
  background: var(--white);
}
.carousel-indicators .active::after {
  /* transition: .9s linear; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--grey);
}

/* Видео сан ****************************************************/

.video-container {
  background: red;
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
  padding: 0px 50px;
  width: 100%;
  position: relative;
  margin-bottom: 50px;
}

.video-container h3 {
  font-size: 30px;
  margin: 30px 0 10px 0;
  border-bottom: 2px solid #fab733;
  padding: 20px 0px;
  margin-bottom: 20px;
  color: #fab733;
  font-weight: 600;
}

.video-container .darkH3 {
  color: black;
  border-bottom: 2px solid black;
}

.video-container .video-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.video-container .video {
  cursor: pointer;
  height: 180px;
  line-height: 50px;
  text-align: center;
  background: darkcyan;
  padding: 60px;
  border: 1px solid #333;
  background: center top/cover;
  border-radius: 5px;
  transition: 0.3s linear;
}

.video-container .video:hover {
  transform: scale(1.02);
}

.video-container .video i {
  font-size: 50px;
  color: rgb(255, 0, 0);
}

.video-container .btn {
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  color: black;
  margin-top: 40px;
  cursor: pointer;
  background-color: #e6e6e6;
  width: 250px;
  height: 60px;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.774);
  position: relative;
  overflow: hidden;
  transition: 0.3s linear;
  outline: none;
  position: relative;
}

.video-container .btn i {
  position: absolute;
  top: 15px;
  left: 30px;
  font-size: 2rem;
  color: #fa0004;
  text-shadow: 1px 0 2px black;
}

.video-container .btn h6 {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 1.2rem;
  font-weight: 500;
}

.video-container .btn:hover {
  background: #fab733;
  box-shadow: inset 3px 3px 5px #684601;
  color: black;
}

.video-container .btnActive {
  background: black;
  color: white;
}

.video-container .dark-container {
  position: absolute;
  top: 20px;
  right: 5%;
  width: 140px;
  height: 80px;
  display: flex;
  justify-content: center;
}

.video-container .dark-container .darkh2 {
  font-size: 1.6rem;
  font-weight: bolder;
  color: rgb(0, 204, 255);
}
.video-container .dark-container .darkh2Active {
  font-size: 1.6rem;
  font-weight: bolder;
  color: rgb(0, 0, 0);
}

.video-container .dark-mode {
  position: absolute;
  bottom: 0;
  width: 140px;
  height: 40px;
  background: linear-gradient(0deg, #333, #000);
  box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e,
    inset 0 0 10px rgba(0, 0, 0, 1), 0 5px 20px rgba(0, 0, 0, 0.5),
    inset 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
}

.video-container .dark-mode .dark-con {
  position: absolute;
  top: 0;
  left: 0;
  width: 85px;
  height: 40px;
  background: linear-gradient(0deg, #000, #6b6b6b);
  border-radius: 20px;
  box-shadow: 0 0 0 1px #232323;
  transform: scale(0.98, 0.96);
  transition: 0.5s;
}

.video-container .dark-mode .darkActive {
  transition: 0.2s linear;
  left: 55px;
}
.video-container .ligthActive {
  transition: 0.2s linear;
  background: linear-gradient(0deg, #6dd1ff, #20b7ff);
  box-shadow: 0 0 2px #6dd1ff, 0 0 0 4px #353535, 0 0 0 5px #3e3e3e,
    inset 0 0 10px rgba(0, 0, 0, 1), 0 5px 20px rgba(0, 0, 0, 0.5),
    inset 0 0 15px rgba(0, 0, 0, 0.2);
}

.darkLigth {
  background: white;
  color: #0a0a0a;
}

.arrowD {
  display: flex;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  width: 40px;
  height: 70px;
  z-index: 999;
  background-color: #000000b0;
  border: 2px solid white;
  border-radius: 25px;
}

.arrowD::before {
  content: "";
  position: absolute;
  top: 20%;
  left: 13px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: aliceblue;
  animation: scroll 2s ease-out infinite;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(8px) scale(0.95);
  }
  100% {
    transform: translateY(0);
  }
}

/* BootStrap Slider ********************************************/
.carousel {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

/* Back-Top */
.backTop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 35px;
  right: 35px;
  width: 60px;
  height: 60px;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
  text-decoration: none !important;
}

.backTop.active {
  pointer-events: auto;
  opacity: 1;
  z-index: 999;
}

.backTop i {
  background-color: var(--white);
  border-radius: 50%;
  font-size: 1.5rem;
  color: var(--yellow);
  padding: 14px 16px;
}

.backTop::after {
  content: "";
  position: absolute;
  background-color: var(--red);
  width: 80px;
  height: 80px;
  z-index: -1;
  border-radius: 50%;
  animation: top 2s ease-out infinite;
}

@keyframes top {
  0% {
    transform: scale(0.6);
  }
  100% {
    opacity: 0;
    transform: scale(1.1);
  }
}

.backTopActive i {
  background-color: var(--black);
}

/* Footer ********************************************************/
.footer-container {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 300px 50px;
  width: 100%;
  background: rgb(46, 46, 46);
  position: relative;
}

/* Footer Logo ****************************************/
.footer-container .footer-logo {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.footer-container .footer-logo .text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-container .footer-logo img {
  min-width: 90px;
  max-width: 90px;
}

.footer-container .footer-logo h3 {
  color: white;
  font-size: 1.5rem;
}
.footer-container .footer-logo p {
  color: #fab733;
  letter-spacing: 6px;
}

/* Footer Message *************************************/
.footer-container .footer-message {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-left: 1px solid #797979;
  border-right: 1px solid #797979;
}

.footer-container .footer-message h3 {
  color: white;
  font-weight: 700;
}
.footer-container .footer-message span {
  color: #fab733;
}

.footer-container .footer-message .messege {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.footer-container .footer-message .messege #name {
  margin-bottom: 15px;
  padding-left: 15px;
  height: 40px;
  border-radius: 10px;
  outline: none;
}
.footer-container .footer-message .messege #messege {
  margin-bottom: 15px;
  padding-left: 15px;
  min-height: 40px;
  max-height: 120px;
  border-radius: 10px;
  outline: none;
}

.footer-container .footer-message button {
  width: 60%;
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: none;
  background: #fab733;
}

/* Footer Contact **************************************/
.footer-container .footer-contact {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.footer-container .footer-contact h3 {
  color: white;
  font-weight: 700;
}
.footer-container .footer-contact span {
  color: #fab733;
}

.footer-container .footer-contact .utas {
  display: flex;
  flex-direction: column;
  color: white;
}
.footer-container .footer-contact .utas i {
  color: #fab733;
  padding-right: 10px;
}
.footer-container .footer-contact .utas div {
  margin: 5px 0;
}

.footer-container .footer-contact .social {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.6rem;
}
.footer-container .footer-contact .social i {
  color: #fab733;
  margin: 0 30px;
}

/* Footer Copy **************************************/
.footer-container .footer-copy {
  grid-column: 1 / span 3;
  grid-row: 2 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.footer-container .footer-copy p {
  margin-top: 15px;
  color: gray;
}

.footer-container .footer-copy a {
  color: white;
  text-decoration: none;
  padding-left: 10px;
}

.footer-container .footer-copy span {
  color: #fab733;
}

/* Media ********************************************************/
@media only screen and (max-width: 1050px) {
  /* Footer ******************************************************/
  .footer-container {
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto 50px;
  }
  .footer-container .footer-logo {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    height: 200px;
  }
  .footer-container .footer-message {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    border: none;
    height: 320px;
  }
  .footer-container .footer-contact {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    height: 200px;
    border-top: 1px solid #797979;
  }
  .footer-container .footer-copy {
    grid-column: 1 / span 2;
    grid-row: 4 / span 1;
  }
}

@media only screen and (max-width: 760px) {
  #carouselExampleIndicators {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }

  .arrowD {
    display: none;
  }

  .video-container {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }

  .video-container .btn {
    padding: 10px 30px;
    width: 100px;
    height: 60px;
  }
  .video-container .btn h6 {
    display: none;
  }
  .video-container .btn i {
    font-size: 3rem;
    top: 6px;
    left: 23px;
  }
  /* Footer ******************************************************/
  .footer-container {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto 50px;
  }
  .footer-container .footer-logo {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    height: 200px;
  }
  .footer-container .footer-message {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    border: none;
    border-top: 1px solid #797979;
    border-bottom: 1px solid #797979;
    height: 320px;
  }
  .footer-container .footer-message .messege {
    max-width: 350px;
  }
  .footer-container .footer-message button {
    max-width: 300px;
  }
  .footer-container .footer-contact {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    height: 200px;
  }
  .footer-container .footer-copy {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
  }
}
